.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row:not(:last-child) {
    margin-bottom: 16px;
}

.button {
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #15004e;
    color: #ffffff;
    border-radius: 5px;
}


.button:hover, .button:focus {
    border: 2px solid rgba(112, 76, 182, 0.4);
    cursor: pointer;
}

.button:active {
    background-color: rgba(112, 76, 182, 0.2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create two equal columns that sits next to each other */

.column {
    flex: 30%;
    padding: 5px;
    overflow: hidden;
    position: relative;
}


/* Add a hover effect (blue shadow) */

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.column img {
    margin-top: 8px;
    width: 100%;
    vertical-align: middle;
    border: 1px solid #ddd;
    max-height: 160px;
    border-radius: 4px;
    padding: 5px;
}

.column .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(123, 123, 123, 0.5);
    color: #f1f1f1;
    width: 100%;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    max-height: 100px;
    overflow: hidden;
}

.actionBar {
    margin: 15px;
    text-align: center;
}